body {
  background: linear-gradient(to bottom, #80868E, #5A6F84) no-repeat;
  margin: auto;
  font-family: Helvetica, sans-serif;

}

.container {
  background-color: white;
  width: 200px;
  margin: auto;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
}

.boton{
  background-color: rgb(53, 53, 255);
  color: white;
  border-radius: 3px;
}
